* {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
body {
    background-color: #e4dad1;
    margin-left: 10vw;
    margin-right: 10vw;
}    
h1, h2 {
    font-family: 'Libre Franklin', sans-serif; 
}
header {
    background-color: #b8b8b8;
    border-radius: 25px;
    margin-bottom: 10px;
}
main {
    margin-bottom: 10px;
}
nav {
    background-color: #8e8b8f;
    margin-bottom: 10px;
}
p {
    font-family: 'Lato', sans-serif;  
}
.aboutMe {
    background-color: #bdb7b7;
    border-radius: 25px;
    margin-bottom: 20px;
}
.portfolioBody {
    background-color: #555555;
    color: white;
    margin-bottom: 10px;
}
.portfolioWorks {
    background-color: #bdb7b7; 
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 5vw;
    }
    header {
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    nav {
        font-size: 3.5vw;
        height: 5vh;
    }
    p {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1025px) { 
    /* STYLES HERE */
}

